[package]
name = "primitives"
license = "GPL-3.0-only"
version = "0.0.0"
edition = "2021"

[dependencies]
codec.workspace = true
scale-info.workspace = true

[features]
default = ["std"]
std = [
    "codec/std",
    "scale-info/std",
]