[settings]
timeout = 1000
node_spawn_timeout = 300

[relaychain]
chain = "rococo-local"
default_command = "./cache/polkadot-v1.7.1"

    [[relaychain.nodes]]
    name = "alice"
    validator = true

    [[relaychain.nodes]]
    name = "bob"
    validator = true

[[parachains]]
id = 909
default_command = "./target/release/pop-node"

    [[parachains.collators]]
    name = "pop"
