[package]
#build = "build.rs"
edition = "2021"
name = "integration-tests"
version = "0.1.0"

#[build-dependencies]
#contract-build = "4.1.1"
#
[dev-dependencies]
env_logger = "0.11.2"
frame-support = { version = "36.0.0", default-features = false }
frame-support-procedural = { version = "=30.0.1", default-features = false }
frame-system = { version = "36.1.0", default-features = false }
ismp = { git = "https://github.com/r0gue-io/ismp", branch = "polkadot-v1.14.0", default-features = false }
log = "0.4.22"
pallet-assets = { version = "37.0.0", default-features = false }
pallet-balances = { version = "37.0.0", default-features = false }
pallet-incentives = { path = "../../pallets/incentives", default-features = false }
pallet-ismp = { git = "https://github.com/r0gue-io/ismp", branch = "polkadot-v1.14.0", default-features = false }
pallet-revive = { path = "../../pallets/revive", default-features = false }
pallet-sponsorships = { path = "../../pallets/sponsorships", default-features = false }
pallet-timestamp = { version = "35.0.0", default-features = false }
pop-api = { path = "../../pop-api", default-features = false, features = [
	"fungibles",
	"messaging",
] }
pop-primitives = { path = "../../primitives", default-features = false }
pop-runtime-devnet = { path = "../../runtime/devnet", default-features = false }
scale = { package = "parity-scale-codec", version = "3.6.12", default-features = false, features = [
	"derive",
] }
sp-io = { version = "37.0.0", default-features = false }
sp-runtime = { version = "=38.0.0", default-features = false }
# TODO: Requires to resolve a dependency version issue. See more at: https://github.com/r0gue-io/pop-node/issues/313.
staging-xcm = { version = "=14.1.0", default-features = false }
xcm-executor = { version = "15.0.0", package = "staging-xcm-executor", default-features = false }

[features]
default = [ "std" ]
std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-assets/std",
	"pallet-balances/std",
	"pallet-incentives/std",
	"pallet-revive/std",
	"pallet-sponsorships/std",
	"pallet-timestamp/std",
	"pop-api/std",
	"pop-primitives/std",
	"pop-runtime-devnet/std",
	"scale/std",
	"sp-io/std",
	"sp-runtime/std",
	"staging-xcm/std",
]
