[package]
authors.workspace = true
description = "Pop Runtime Common"
edition.workspace = true
license.workspace = true
name = "pop-runtime-common"
publish = false
repository.workspace = true
version = "0.0.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec = { workspace = true, features = [ "derive" ] }
docify.workspace = true
scale-info = { workspace = true, features = [ "derive" ] }
serde_json = { features = ["alloc"], workspace = true }

# Substrate
frame-support.workspace = true
sp-keyring.workspace = true
sp-runtime.workspace = true
pallet-multisig.workspace = true

# Cumulus
parachains-common.workspace = true
polkadot-primitives.workspace = true

[features]
default = [ "std" ]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"parachains-common/runtime-benchmarks",
	"polkadot-primitives/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
std = [
	"codec/std",
	"frame-support/std",
	"parachains-common/std",
	"polkadot-primitives/std",
	"scale-info/std",
	"serde_json/std",
	"sp-runtime/std",
]
