[package]
authors = [ "Parity Technologies <admin@parity.io>", "R0GUE <go@r0gue.io>" ]
description = "Runtime API for the FRAME NFTs pallet."
edition.workspace = true
homepage = "https://substrate.io"
license = "Apache-2.0"
name = "pallet-nfts-runtime-api"
readme = "README.md"
repository.workspace = true
version = "23.0.0"

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { features = ["derive"], workspace = true }
pallet-nfts.workspace = true
sp-api.workspace = true

[features]
default = ["std"]
std = ["codec/std", "pallet-nfts/std", "sp-api/std"]
