[package]
authors = [ "R0GUE <go@r0gue.io>" ]
edition = "2021"
name = "create_token_in_constructor"
version = "0.1.0"

[dependencies]
ink = { version = "5.0.0", default-features = false }
pop-api = { path = "../../..", default-features = false, features = [ "fungibles" ] }

[lib]
path = "lib.rs"

[features]
default = [ "std" ]
e2e-tests = [  ]
ink-as-dependency = [  ]
std = [
	"ink/std",
	"pop-api/std",
]
