[package]
description = "Enabling smart(er) contracts with the power of Polkadot"
edition = "2021"
license = "GPL-3.0-only"
name = "pop-api"
version = "0.0.0"

[dependencies]
ink = { version = "5.0.0", default-features = false }
pop-primitives = { path = "../primitives", default-features = false }
sp-io = { version = "31.0.0", default-features = false, features = [
	"disable_allocator",
	"disable_oom",
	"disable_panic_handler",
] }

[lib]
crate-type = [ "rlib" ]
name = "pop_api"
path = "src/lib.rs"

[features]
assets = [  ]
default = [ "std" ]
fungibles = [ "assets" ]
std = [ "ink/std", "pop-primitives/std", "sp-io/std" ]
